
body{
	font-family: Verdana, Arial, sans-serif;		
}

#color-picker{
	margin: 30px;
}

ul {
	list-style-type: none;
}

aside {
	float: left;
	width: 300px;
	overflow-y: scroll;
	height: 550px;
	background-color: #ddd;
}
